@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";
@config "../tailwind.config.js";

body {
  font-family: "Roboto", "Tiro Bangla", sans-serif;
  @apply bg-white dark:bg-gray-900;
  color: #111827;
}

.bangla {
  font-family: "Tiro Bangla", "Roboto", sans-serif;
  font-weight: 400;
}
