@import "tailwindcss";
@config "../tailwind.config.js";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.shadow-3d {
  box-shadow: 6px 8px 0px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Roboto", "Tiro Bangla", sans-serif;
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

.bangla {
  font-family: "Tiro Bangla", "Roboto", sans-serif;
  font-weight: 400;
}
