@import "tailwindcss";
@config "../tailwind.config.js";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.shadow-3d {
  box-shadow: 6px 8px 0px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Roboto", "Tiro Bangla";
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

.bangla {
  font-family: "Tiro Bangla", "Roboto";
  font-weight: 400;
}
/* Light Mode */
:root {
  --scroll-thumb: #b3b3b3;
  --scroll-thumb-hover: #8d8d8d;
}

/* Dark Mode */
.dark {
  --scroll-thumb: #444;
  --scroll-thumb-hover: #555;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}
/* Smooth spin */
@keyframes spin-slow {
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2.5s linear infinite;
}

/* Rotating outer ring */
.loader-ring {
  position: absolute;
  width: 130px;
  height: 130px;
  border: 4px solid transparent;
  border-top-color: #0080ff;
  border-right-color: #00c6ff;
  border-radius: 50%;
  animation: spin 1.6s linear infinite;
}

/* Smooth rotation */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
