@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tiro+Bangla&display=swap");
@import "tailwindcss";
@config "../tailwind.config.js";
.bangla {
  font-family: "Tiro Bangla", serif;
  font-weight: 400;
  font-style: normal;
}

/* Light & Dark Background (optional fallback) */
body {
  @apply bg-white dark:bg-gray-900;
}
