@import "tailwindcss";
@config "../tailwind.config.js";
@import "@fortawesome/fontawesome-free/css/all.min.css";
/* ----------- Chrome, Edge, Safari, Opera ----------- */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* ----------- Firefox ----------- */
html {
  scrollbar-width: none;
}

/* ----------- Internet Explorer / Old Edge ----------- */
body {
  -ms-overflow-style: none;
}

html,
body {
  font-family: "Roboto", "Tiro Bangla";
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  overflow: hidden !important;
}

.bangla {
  font-family: "Tiro Bangla", "Roboto";
  font-weight: 400;
}

/* Smooth spin */
@keyframes spin-slow {
  100% {
    transform: rotate(360deg);
  }
}

/* .animate-spin-slow {
  animation: spin-slow 2.5s linear infinite;
} */

/* Rotating outer ring */
.loader-ring {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 4px solid transparent;
  border-top-color: #0080ff;
  border-right-color: #00c6ff;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

/* Smooth rotation */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
